{
    "API": {
        "port": 3000,
        "key": "",
        "cert": "",
        "database": {
            "url": "",
            "username": "",
            "password": ""
        }
    },
    "website": {

    }
}